.container{
    position: relative;
    background:black;
    max-width: 100vw;
    max-height: 100vh;
    padding-bottom: 0;
    display: flex;
    box-sizing: border-box;
}
.left{
    width: 40%;
    height: 100vh;
    padding:4rem;
    box-sizing: border-box;
    color: #ffffff;
}
.iconName{
    font-family: 'single day',cursive;
    color: #72DB73;
    font-size: 2rem;
    letter-spacing: 0.025em;
    margin: 0;

}
.heading{
    font-size: 3.5rem;
}
.right{
    width: 60%;
    height:80vh;
    margin-left: 10rem;
    padding:4rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap:10px;
}
.card{
    width:12rem;
    height:11rem;
    padding:1.3rem;
    background: blueviolet;
    box-sizing: border-box;
    border-radius: 12px;
}
.cardSelected{
    width:14rem;
    height:12rem;
    padding:1.3rem;
    background: blueviolet;
    box-sizing: border-box;
    border-radius: 12px;
    border: 5px solid #72DB73  ;
}
.title{
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 5px;
    color: #ffffff;
}
.cardimg{
    transform: scale(0.75) ;
    margin-left: -1.8rem;
    
}
.choice {
    margin: 0 10px;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.choiceTag {
    display: flex;
    gap: 5px;
    font-weight: 300;
    font-size: 1rem;
    line-height: 99.19%;
    letter-spacing: 0.01em;
    color: #ffffff;
    padding: 8px 10px;
    background:  #148A08;
    border-radius: 18px;
}

.choiceTag span {
    cursor: pointer;
}
.nextButton{
    position: absolute;
    bottom: 2rem;
    right: 6rem;
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    background: #148A08;
    border-radius: 15px;
}